<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title text-center">
				<span class="glyphicon glyphicon-user"></span>CMRS form 
			</h2>
		</div>
		<div class="panel-body">
			<!-- The form to add CMRSes information -->
			<form name ="addForm" novalidate>
				<div class="form-group">
					<label for="username">Name</label>
					<input type="text" class="form-control" placeholder="Deadpool?" ng-model="CMRS.name" required>
				</div>
				
				<label class="radio control-label">Gender</label>
				<div class="radio" >
					<label>
						<input type="radio" name="optionsRadios" value="Male" ng-model="CMRS.gender" >
						Male
					</label>
				</div>
				<div class="radio" >
					<label>
						<input type="radio" name="optionsRadios" value="Female" ng-model="CMRS.gender" required>
						Female
					</label>
				</div>
				<div class="form-group">
					<label for="username">Super Powers</label>
					<input type="text" class="form-control" placeholder="SenseOfHumor" ng-model="CMRS.superPowers" required>
				</div>
				<div class="form-group">
					<label for="audio">Main audio</label>
					<div class="text-center">
						<button type="button" class="btn btn-default" ng-click="upload()">
							Upload <span class="caret"></span>
						</button>
						<div style="margin-top:10px;">
							<!-- Show the thumbnail only when the audio is uploaded -->
							<a href="{{CMRS.audio.url}}" class="thumbnail" ng-if="CMRS.audio">
							<!-- the audio is rendered with width: 500 and sharpened -->
							<img ng-src="{{CMRS.audio.url | fpConvert: {filter:'sharpen', w:500} }}">
							</a>
						</div>					
					</div>
				</div>
				<div class="form-group">
					<label for="audio">More audio? (Max 3, optional!)</label>
					<div class="text-center">
					<button type="button" class="btn btn-default" ng-click="uploadMultiple()">
					Upload <span class="caret"></span>
					</button>
					<!-- Show the thumbanil of more audio -->
						<div style="margin-top:10px;" ng-repeat="audio in CMRS.moreAudio">	 <div class="col-md-{{12 / CMRS.moreAudio.length}}">
							<a href="{{audio.url}}" class="thumbnail">
							  <img ng-src="{{audio.url | fpConvert: {filter:'sharpen', w:500} }}">
							</a>
						</div>	
					</div>
					</div>
				</div>
				<hr />				
				<button type="submit" class="btn btn-danger btn-block"  ng-click="createCMRS()" ng-disabled="CMRS.$invalid || !CMRS.audio">Submit</button>				
			</form>
		</div>
    </div>
</div>