<!-- View the details of a CMRS -->
<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> CMRS details </h2>
		</div>
		<div class="panel-body text-center">
			<img ng-src="{{CMRS.audio.url | fpConvert: {filter:'sharpen', w:500} }}" />
			<h1>{{CMRS.name}}</h1>
			<hr />
			<p class="text-left"><label>gender: </label> {{CMRS.gender}}</p>
			<p class="text-left"><label>Super powers: </label> {{CMRS.superPowers}}</p>
			<!-- Only if there are other audio -->
			<div ng-if="CMRS.moreAudio">
				<h3> More audio <h3>
				<div ng-repeat="audio in CMRS.moreAudio">
					<div class="col-md-{{12 / CMRS.moreAudio.length}}">
						<a ng-href="{{audio.url}}" class="thumbnail">
						  <img ng-src="{{audio.url | fpConvert: {filter:'sharpen', w:500} }}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
