<!-- view the gallery of all the CMRSes in the db -->
<div class="row">
<div ng-repeat="CMRS in CMRSes">
	<div class="col-md-4 col-xs-6  col-sm-offset-0">			
	<div class="thumbnail">
      <img ng-src="{{CMRS.audio.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
      <div class="caption text-center">
        <h3>{{CMRS.name}}</h3>
        <p><label>Super powers: </label> {{CMRS.superPowers}}</p>
        <div class="text-right"><a ng-href="/#/detail/{{CMRS._id}}" class="btn btn-danger" role="button">View</a> </div>
      </div>
    </div>
	</div>	
</div>
</div>